*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*border: 1px solid black;*/
}

h1 {
	font-family: 'Princess Sofia', cursive;
	text-align: center;
	font-size: 80px;
}

h2 {
	text-align: center;
}
.game-outer{
	/*position: relative;*/
}

.game {
	margin: 10px;
	padding: 10px;
}

.start {
	width: 97%;
	height: 83%;
}

#start {
	padding: 10px 20px;
	margin-left: 50%;
	margin-right: 50%;
}
/*
img {
    height: 100%!important;
    object-fit: cover;
    width: 200%!important;
    left: -25px;

}*/

body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 0;
}

.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all .5s ease-in-out;
  width: 100%;
}
/* .card:hover {
  transform: rotateY(180deg);
} */
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}